@import url("reset.css");

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	color:#555;
	background: #e2e2e2;
	background-image:url('../images/background_image1.png');
	background-position:center;
	background-repeat: repeat-y;
	line-height: 16px;
}

p {
    padding: 20px;
}

ul {
 	line-height: 1.5em;
 	text-indent: 0px;
 	list-style-position: outside;
 	list-style-type: square;
 	padding: 3px;
 	margin: 0px 0px 0px 23px;
}

A:link {text-decoration: none;  color: #0072cf;}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: #0072cf;}

#topline {
    margin: 0 auto;
	height: 20px;
	background: #80a3b7;
    width: 100%;
}


#wrapper {
    margin: 0 auto;
    width: 980px;
}

#header {
    float: left;
    height: 120px;
    width: 260px;
    background: #ffffff;
}

.logo {
	float: left;
	margin: 25px 0 0 -20px;
}

#navigation {
	float: right;
	height: 30px;
	width: 720px;
	margin: 67px 1px 0 -20px;
	background: #ffffff;
	text-align: right;
/*	padding: -20px 20px -20px 20px;*/
}

.insetline {
	float:left;
	width: 20px;
	height: 166px;
	background-image:url('../images/insetline.png');
	background-position: center;
	background-repeat: no-repeat;
}

.infobox {
	float:left;
	width: 220px;
	height: 166px;
/*	padding: 20px 20px -20px 20px;*/
	background: #ffffff;
}


#slider {
    float: left;
    background: #cccccc;
/*	padding: -20px -20px -20px -20px;*/
    width: 980px;
}

.blurb {
	float: left;
	background: #ffffff;
	text-align: justify;
	padding: 17px 20px 17px 20px;
	background-image:url('../images/blurb_bg2.png');
	background-position: center;
	background-repeat: no-repeat;
}

#content {
	float: left;
/*	background: #ffffff;*/
	width: 980px;
}

#footer {
    height: 40px;
    width: 980px;
    background: #b7b7b7;
	background-image:url('../images/footer_bg.png');
	background-position: top center;
	background-repeat: no-repeat;
    clear: both;
}

ul#menu{margin:0; padding:0; list-style:none; clear:both;}
#menu li{overflow:hidden; text-indent:-9999px; display:inline; float:right;}
#menu li a{background:url('../images/sprite_buttons.png') no-repeat; width:100%; height:100%; display:block;}

/* HOME Button */
#menu li.home {width:54px; height:53px;}
#menu li.home a{background-position:0 0;}
#menu li.home a:hover{background-position:0 -53px;}
#menu li.home a.selected{background-position:0 -53px;}

/* LEGAL Button */
#menu li.lega {width:57px; height:53px;}
#menu li.lega a{background-position:-54px 0;}
#menu li.lega a:hover{background-position:-54px -53px;}
#menu li.lega a.selected{background-position:-54px -53px;}

/* PRIVACY Button */
#menu li.priv {width:73px; height:53px;}
#menu li.priv a{background-position:-111px 0;}
#menu li.priv a:hover{background-position:-111px -53px;}
#menu li.priv a.selected{background-position:-111px -53px;}

/* CONTACT US Button */
#menu li.cont {width:105px; height:53px;}
#menu li.cont a{background-position:-183px 0;}
#menu li.cont a:hover{background-position:-183px -53px;}
#menu li.cont a.selected{background-position:-183px -53px;}

/* TERMS OF USE Button */
#menu li.term {width:110px; height:53px;}
#menu li.term a{background-position:-280px 0;}
#menu li.term a:hover{background-position:-280px -53px;}
#menu li.term a.selected{background-position:-280px -53px;}

.clearfix:after {
 	content: "."; 
 	display: block; 
	height: 0; 
 	clear: both; 
 	visibility: hidden;
 }